@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo-Regular.woff2") format("woff2"),
  url("../fonts/Arimo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo-Bold.woff2") format("woff2"),
  url("../fonts/Arimo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Main */
:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-light-gray: #D3D3D3;
  --basic-dark-gray: #9A9A9A;
  --basic-light-blue: #E9E6FD;
  --basic-deep-blue: #3E368F;
  --button-blue: #4094F7;
  --element-hover-blue: #D7EDFF;
  --main-text-color: #252C32;
  --icon-deep-gray-color: #5B6871;
  --icon-light-gray-color: #84919A;
  --divider-light-gray-color: #E5E9EB;
  --card-text-color: #676767;
  --active-menu-text-color: #0E73F6;
  --inactive-text-grey-color: #6E7C87;
  --bg-light-gray-color: #F6F8F9;
  --main-border-color: #DDE2E4;
  --avatar-border-black: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arimo", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
  box-sizing: border-box;
  background-color: var(--basic-white);
}

img {
  /*width: 100%;*/
  /*height: auto;*/
}

/* Header */
.main-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--divider-light-gray-color);
}

/* Menu */

.main-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0 17px 0;
}

.left-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 24px;
  height: 32px;
  margin: 0 auto;
}

.right-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  height: 32px;
  margin: 0 auto;
}

.left-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 14px;
  color: var(--main-text-color);
}

.left-menu-item {
  display: flex;
  padding: 9px 16px;
}

.dropdown-left-menu a {
  height: 20px;
}

.dropdown-left-menu {
  padding: 4px;
}

.project-dropdown-menu, .people-dropdown-menu, .board-dropdown-menu {
  display: none;
}

.logo {
  padding: 8px 4px;
}

.btn {
  border: 1px solid var(--main-border-color);
  border-radius: 6px;
}

.search-input {
  font-family: inherit;
  margin-right: 16px;
  border: 1px solid var(--main-border-color);
  border-radius: 6px;
  height: 32px;
}

.right-menu-item {
  height: 16px;
  padding: 8px;
}

.avatar-mini {
  height: 24px;
  margin-left: 8px;
  padding: 4px;
}

.avatar-mini img {
  border-inline: 1px solid var(--avatar-border-black);
  border-radius: 16px;
}
